<nav class="z-[50] fixed top-0 left-0 w-screen mt-4">
    <div class="mx-auto px-4">
      <div class="flex justify-between items-center h-16">
        <div class="">
          <a href="/" class="flex-shrink-0">
            <img src="../../../../assets/img/logo2.png" alt="Logo" class="h-auto w-32">
          </a>
        </div>
        <div>
          <button (click)="changeLanguage('es')" class="animate-flip-up animation-duration-[500ms] relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xl font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white  dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class=" text-bold relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
            ES
            </span>
          </button>
          <button (click)="changeLanguage('en')" class="animate-flip-up animation-duration-[500ms] relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xl font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white  dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class=" text-bold relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
            EN
            </span>
          </button>
        </div>
        
        
        <div class="hidden md:flex space-x-4">
          <a [href]="'#' + menu.name" *ngFor="let menu of menus" class="hover:text-primary ">
            <button [ngClass]="{'font-bold': selectedTab == menu.url}" class="animate-flip-up animation-duration-[500ms] relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xl font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
              <span class=" text-bold relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
              {{translations[menu.url]}}
              </span>
            </button>
          </a>
        </div>

  
        <div class="md:hidden">
          <button class="btn btn-square btn-ghost">
            <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6H6m12 4H6m12 4H6m12 4H6"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>